# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python bytecode and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*/env/*

# OS-specific files
.DS_Store

# Temporary files
*.tmp
